.tc{
  text-align: center
}
.el-table thead {
  color: #606266!important;
}
.form-table{
  .el-button + .el-button{
    margin-left: 0
  }
  .el-form-item{
    margin-bottom: 0
  }

}
.mb20{
  margin-bottom: 20px
}
.mt20{
  margin-top: 20px
}