.credit-record {
.el-textarea.is-disabled .el-textarea__inner,
.el-input.is-disabled .el-input__inner {
  background-color: #fff;
  border-color: #e4e7ed;
  color: #606266;
  cursor: not-allowed;
}
.el-table-column--selection > .cell {
  text-align: center;
}
.mt15 {
  margin-top: 15px;
}
.button-box {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}
.dialog-table{
.cell{
  padding: 5px 8px
}
}
}
